*.pyc
ssh.key
ssh.pub
munge.key
test.json
munge.test
munge.expired
depcomp
install-sh
libtool.m4
missing
Makefile.in
tags
*.o
*.lo
*.la
*~
Makefile
unsetupRoot
setupRoot
shifter
shifterimg
imageGWConnect
*.swp
.cache
*.log
*.deps
*.libs
autom4te.cache/
auxdir/config.guess
auxdir/config.sub
auxdir/ltmain.sh
auxdir/ltoptions.m4
auxdir/ltsugar.m4
auxdir/ltversion.m4
auxdir/lt~obsolete.m4
aclocal.m4
config.h
config.h.in
config.status
configure
libtool
stamp-h1
test_ImageData
test_MountList
test_UdiRootConfig
test_VolumeMap
test_shifter
test_shifter_core
test_shifter_core_AsRoot
test_shifter_core_AsRootDangerous
test_utility
*.gcno
*.gcda
