language: python
sudo: true
python:
  - "2.7"
# command to install dependencies
env:
  - PATH
before_install:
  - sudo add-apt-repository "deb http://us.archive.ubuntu.com/ubuntu/ precise universe multiverse"
  - sudo add-apt-repository -y ppa:ondrej/php5
  - sudo apt-get update -qq
  - sudo apt-get install -qq libjson-c2 libjson-c-dev libmunge2 libmunge-dev libcurl4-openssl-dev autoconf automake libtool curl make valgrind xfsprogs squashfs-tools
install:
  - pip install -r imagegw/requirements.txt
  - pip install coverage
  - pip install cpp-coveralls
  - LOC=$(dirname $(which coveralls) ); sudo mv $LOC/coveralls $LOC/cpp-coveralls
  - pip install coveralls
  - pip install coveralls-merge
# command to run tests
before_script:
  - cp imagegw/test.json.example test.json
  - mkdir /tmp/imagegw /tmp/systema /tmp/systemb
  - rm imagegw/test/sha256sum
  - find /tmp/
script:
  - export PROC_COUNT=$(cat /proc/cpuinfo  | egrep '^processor' | wc -l)
  - ./autogen.sh
  - ./configure --prefix=/usr --sysconfdir=/etc/shifter --disable-staticsshd
  - MAKEFLAGS="-j$PROC_COUNT" make
  - MAKEFLAGS="-j$PROC_COUNT" make check
  - sudo make install 
  - cd src/test
  - export DO_ROOT_TESTS=1
  - export DO_ROOT_DANGEROUS_TESTS=1
  - ../../extra/CI/test_script.sh
  - cd ../..
  - export PATH=$PWD/imagegw/test:$PATH
  - export PYTHONPATH=$PWD/imagegw
  - nosetests -x -s --with-coverage imagegw/test
services:
  - mongodb
  - redis
after_failure:
  - df /tmp
  - find /tmp/
  - ls -latrh /tmp/*
  - ls -latrh /tmp/imagegw/*
  - ls -latrh /tmp/systema/images/*
  - cat /tmp/worker.log
after_success:
  - cpp-coveralls --exclude dep -n --dump cpp_coveralls.json
  - coveralls-merge cpp_coveralls.json 
notifications:
  slack: shifter-hpc:G2yziADLjfv5y0KoCVT907cS
