sudo: true
dist: bionic
language: python
python:
  - "3.8"
compiler:
  - clang
  - gcc
# command to install dependencies
before_install:
  - sudo chmod 755 /var/log
  - sudo add-apt-repository "deb http://us.archive.ubuntu.com/ubuntu/ bionic universe multiverse"
  - sudo apt-get update -qq
  - sudo apt-get install -qq libjson-c-dev munge libmunge2 libmunge-dev libcurl4-openssl-dev autoconf automake libtool curl make valgrind xfsprogs squashfs-tools libcap-dev
  - sudo modprobe squashfs
  - sudo modprobe xfs
  - sudo modprobe loop
  - cat /proc/filesystems
install:
  - pip install -r imagegw/requirements.txt
  - pip install coverage
  - pip install cpp-coveralls
  - LOC=$(dirname $(which coveralls) ); sudo mv $LOC/coveralls $LOC/cpp-coveralls
  - pip install coveralls
  - pip install coveralls-merge
  - pip install pexpect
# command to run tests
before_script:
  - cp imagegw/test.json.example test.json
  - mkdir /tmp/imagegw /tmp/systema /tmp/systemb
  - rm imagegw/test/sha256sum
script:
  - export PROC_COUNT=$(cat /proc/cpuinfo  | egrep '^processor' | wc -l)
  - ./autogen.sh
  - ./configure --prefix=/usr --sysconfdir=/etc/shifter --disable-staticsshd
  - MAKEFLAGS="-j$PROC_COUNT" make
  - MAKEFLAGS="-j$PROC_COUNT" make check
  - sudo make install 
  - cd src/test
  - export DO_ROOT_TESTS=1
  - export DO_ROOT_DANGEROUS_TESTS=1
  - ../../extra/CI/test_script.sh
  - cd ../..
  - export ORIGPATH=$PATH
  - export PATH=$PWD/imagegw/test:$PATH
  - PYTHONPATH=$PWD/imagegw nosetests -s --with-coverage imagegw/test
  - export PATH=$ORIGPATH
  - export BUILDDIR=$(pwd)
  - cd /
  - $BUILDDIR/extra/CI/integration_test.sh
  - cd $BUILDDIR
services:
  - mongodb
  - redis
after_failure:
  - df /tmp
  - find /tmp/|head -100
  - ls -latrh /tmp/*
  - ls -latrh /tmp/imagegw/*
  - ls -latrh /tmp/systema/images/*
  - cat /var/log/shifter_imagegw/error.log
  - cat /var/log/shifter_imagegw/access.log
after_success:
  - cpp-coveralls --exclude dep -n --dump cpp_coveralls.json
  - coveralls-merge cpp_coveralls.json 
notifications:
  slack: shifter-hpc:G2yziADLjfv5y0KoCVT907cS
