{
    "WorkerThreads":8,
    "DefaultLustreReplication": 1,
    "DefaultOstCount": 16,
    "DefaultImageLocation": "index.docker.io",
    "DefaultImageFormat": "squashfs",
    "PullUpdateTimeout": 300,
    "ImageExpirationTimeout": "90:00:00:00",
    "MongoDBURI":"mongodb://localhost/",
    "MongoDB":"Shifter",
    "Broker":"redis://localhost/",

    "Locations": {
        "index.docker.io": {
            "remotetype": "dockerhub",
            "authentication": "http"
        }
    },

    "Platforms": {
        "mycluster": {
            "mungeSocketPath": "/var/run/munge/munge.socket",
            "accesstype": "local",
            "usergroupService": "local",
            "local": {
                "imageDir": "/images"
            }
        }
    }
}
