{
    "WorkerThreads":8,
    "DefaultLustreReplication": 1,
    "DefaultOstCount": 16,
    "DefaultImageLocation": "index.docker.io",
    "DefaultImageFormat": "squashfs",
    "PullUpdateTimeout": 300,
    "ImageExpirationTimeout": "90:00:00:00",
    "CacheDirectory": "/tmp/imagegw/",
    "MongoDBURI":"mongodb://mongo/",
    "MongoDB":"ShifterTest",
    "Broker":"redis://redis/",

    "Locations": {
        "index.docker.io": {
            "remotetype": "dockerv2",
            "authentication": "http"
        },
        "registry.host.com": {
            "remotetype": "dockerv2",
            "sslcacert": "./cacert.pem",
            "authentication": "http"
        }
    },

    "Platforms": {
        "systema": {
            "mungeSocketPath": "/tmp/systema/munge.socket",
            "usergroupService": "ldap",
            "accesstype": "remote",
            "mountCommand": "/bin/mount",
            "host": [
                "localhost"
            ],
            "ssh": {
                "username": "imageuser",
                "keyx": "/tmp/systema/ssh.key",
                "imageDir": "/tmp/systema/images"
            },
            "ldap": {
                "userBase": "ou=People,ou=system,ou=Host,o=ldapsvc,dc=nersc,dc=gov",
                "groupBase": "ou=PosixGroup,ou=system,ou=Host,o=ldapsvc,dc=nersc,dc=gov"
            }
        },
        "systemb": {
            "mungeSocketPath": "/tmp/systemb/munge.socket",
            "accesstype": "local",
            "usergroupService": "local",
            "local": {
                "imageDir": "/tmp/systemb/images"
            }
        }
    }
}
