[Unit]
Description=Shifter image manager
After=munge.service

[Service]
Type=simple
User=shifter
Group=shifter
PrivateTmp=true
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/shifter_imagegw
ExecStartPre=/usr/bin/chown shifter:shifter /var/log/shifter_imagegw
ExecStart=/usr/bin/gunicorn \
    -b 0.0.0.0:5000 --backlog 2048 \
    --access-logfile=/var/log/shifter_imagegw/access.log \
    --log-file=/var/log/shifter_imagegw/error.log \
    -t 3600 \
    shifter_imagegw.api:app
Restart=on-failure

[Install]
WantedBy=multi-user.target

