[Unit]
Description=Shifter Image Manager Worker
After=network.target
PartOf=shifter_imagegw_worker.target

[Service]
Type=simple
User=shifter
Group=shifter
PrivateTmp=true
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/log/shifter_imagegw_worker
ExecStartPre=/usr/bin/chown shifter:shifter /var/log/shifter_imagegw_worker
ExecStart=/usr/bin/celery -A shifter_imagegw.imageworker worker -Q %i -n %i.%%h --loglevel=debug --logfile=/var/log/shifter_imagegw_worker/%i.log
Restart=on-failure

[Install]
WantedBy=multi-user.target shifter_imagegw_worker.target

