*.o
*.lo
*.la
*~
Makefile
unsetupRoot
setupRoot
shifter
imageGWConnect
*.swp
.cache
*.log
*.deps
*.libs
autom4te.cache/
auxdir/config.guess
auxdir/config.sub
auxdir/ltmain.sh
auxdir/ltoptions.m4
auxdir/ltsugar.m4
auxdir/ltversion.m4
auxdir/lt~obsolete.m4
config.h
config.h.in
config.status
configure
libtool
stamp-h1
